/* 
.container{
    display: flex;
        align-items: center;
        justify-content: center;
        min-height: 10vh;
        text-align: center;

}
.content{
    height: 400px;
    width: 750px;
    overflow: hidden;
    position: relative;
}
.content .images{
    height: 100%;
    width: 100%;

}
.images img{
    height: 100%;
    width: 100%;
}
.btm-sliders{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.btm-sliders span{
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 30px;
    cursor: pointer;
}

.content .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: 2px solid white;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.slide span{
    font-size: 35px;
    color: white;
    line-height: 41px;
    
}
.content .right{
    right: 0;
} */

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #000;

}
.carousel .control-next.control-arrow:hover{
    background-color: none;
}
.carousel .carousel-status {
    display: none;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #000;
}
.carousel .control-prev.control-arrow:hover{
    background-color: rgb(235, 238, 239);
}
.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
    width: 30px;
    height: 50px;
    border: 1px solid ghostwhite;
    align-items: center;
    margin-top: 120px;
    box-shadow: 1px 1px 1px 2px ghostwhite;
}