.condition button:hover{
  background-color: rgb(200, 248, 246);
  color:rgb(0, 193,193);
  border:1px solid rgb(0,193,193);
}
.condition button{
  background-color: #fff;
  color:rgb(0, 47, 52);
  border:1px solid rgb(0,47,52);
}
::placeholder {
  color: rgb(0,47,52);
}
input[value="+92 |"]{
  color: rgb(182, 186, 187);
}
.MuiSwitch-thumb {
  width: 20px;
  height: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(0,47,52);
}
